<div>
    <h2>
        <span jhiTranslate="restauranteApp.restaurante.home.title">Restaurantes</span>
        <button class="btn btn-primary float-right jh-create-entity create-restaurante" [routerLink]="['/', { outlets: { popup: ['restaurante-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="restauranteApp.restaurante.home.createLabel">
            Create new Restaurante
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="restaurantes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombre"><span jhiTranslate="restauranteApp.restaurante.nombre">Nombre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="direccion"><span jhiTranslate="restauranteApp.restaurante.direccion">Direccion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telefono"><span jhiTranslate="restauranteApp.restaurante.telefono">Telefono</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="restauranteApp.restaurante.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activo"><span jhiTranslate="restauranteApp.restaurante.activo">Activo</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let restaurante of restaurantes ;trackBy: trackId">
                <td><a [routerLink]="['../restaurante', restaurante.id ]">{{restaurante.id}}</a></td>
                <td>{{restaurante.nombre}}</td>
                <td>{{restaurante.direccion}}</td>
                <td>{{restaurante.telefono}}</td>
                <td>{{restaurante.status}}</td>
                <td>{{restaurante.activo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../restaurante', restaurante.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'restaurante/'+ restaurante.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'restaurante/'+ restaurante.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="restaurantes && restaurantes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
