
<div *ngIf="mesa">
    <h2><span jhiTranslate="restauranteApp.mesa.detail.title">Mesa</span> {{mesa.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="restauranteApp.mesa.nombre">Nombre</span></dt>
        <dd>
            <span>{{mesa.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="restauranteApp.mesa.ubicacion">Ubicacion</span></dt>
        <dd>
            <span>{{mesa.ubicacion}}</span>
        </dd>
        <dt><span jhiTranslate="restauranteApp.mesa.area">Area</span></dt>
        <dd>
            <span>{{mesa.area}}</span>
        </dd>
        <dt><span jhiTranslate="restauranteApp.mesa.capacidad">Capacidad</span></dt>
        <dd>
            <span>{{mesa.capacidad}}</span>
        </dd>
        <dt><span jhiTranslate="restauranteApp.mesa.estado">Estado</span></dt>
        <dd>
            <span>{{mesa.estado}}</span>
        </dd>
        <dt><span jhiTranslate="restauranteApp.mesa.activo">Activo</span></dt>
        <dd>
            <span>{{mesa.activo}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'mesa/'+ mesa.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
