
<div *ngIf="producto">
    <h2><span jhiTranslate="restauranteApp.producto.detail.title">Producto</span> {{producto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="restauranteApp.producto.nombre">Nombre</span></dt>
        <dd>
            <span>{{producto.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="restauranteApp.producto.cantidad">Cantidad</span></dt>
        <dd>
            <span>{{producto.cantidad}}</span>
        </dd>
        <dt><span jhiTranslate="restauranteApp.producto.vencimiento">Vencimiento</span></dt>
        <dd>
            <span>{{producto.vencimiento | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="restauranteApp.producto.activo">Activo</span></dt>
        <dd>
            <span>{{producto.activo}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'producto/'+ producto.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
