<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReservaLabel" jhiTranslate="restauranteApp.reserva.home.createOrEditLabel">Create or edit a Reserva</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!reserva.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="reserva.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="restauranteApp.reserva.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="reserva.nombre" required />
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="restauranteApp.reserva.fecha" for="field_fecha">Fecha</label>
            <div class="input-group">
                <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" [(ngModel)]="reserva.fecha"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.fecha?.dirty && editForm.controls.fecha?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fecha?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="restauranteApp.reserva.comensales" for="field_comensales">Comensales</label>
            <input type="number" class="form-control" name="comensales" id="field_comensales"
                [(ngModel)]="reserva.comensales" required />
            <div [hidden]="!(editForm.controls.comensales?.dirty && editForm.controls.comensales?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.comensales?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.comensales?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="restauranteApp.reserva.area" for="field_area">Area</label>
            <input type="text" class="form-control" name="area" id="field_area"
                [(ngModel)]="reserva.area"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="restauranteApp.reserva.activo" for="field_activo">Activo</label>
            <input type="checkbox" class="form-control" name="activo" id="field_activo"
                [(ngModel)]="reserva.activo"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
